.container{
    max-width: 1200px;
    margin: 0 auto;
}

@mixin col{
    float: left;
    min-height: 1px;
}

.col-1{
    width: (100%/12)*1;
    @include col;
}

.col-2{
    width: (100%/12)*2;
    @include col;
}

.col-3{
    width: (100%/12)*3;
    @include col;
}

.col-4{
    width: (100%/12)*4;
    @include col;
}

.col-5{
    width: (100%/12)*5;
    @include col;
}

.col-6{
    width: (100%/12)*6;
    @include col;
}

.col-7{
    width: (100%/12)*7;
    @include col;
}

.col-8{
    width: (100%/12)*8;
    @include col;
}

.col-9{
    width: (100%/12)*9;
    @include col;
}

.col-10{
    width: (100%/12)*10;
    @include col;
}

.col-11{
    width: (100%/12)*11;
    @include col;
}

.col-12{
    width: (100%/12)*12;
    @include col;
}